body {
    background-color: rgb(156, 9, 224);
    height: 100vh;
    color: #ffffff; 
    padding: 0%;
  }
  .title-two{
    padding:100px;
    margin:0 auto;
  }

  h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin:30px;
  }
  .simple-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #f8f3f3;
    background-color: transparent;
    color: #fff;
    margin-left: 1000px;
    margin-top:-100px;
    
  }
  h3{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 5px;
    
  }
  h4{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 5;
    margin-top:-30px;
    
  }
  h2{
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top:10px;
  }
  p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: end;
    margin-right:30px;
    margin-top:-100px;
  }

  .title-two {
   
    color:white;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: end;
    margin-right:30px;
    margin-top:10px;
    text-align: center;
}

.list{
  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 35px auto 0 auto;
}
.list-item{
 -webkit-box-flex: 0;
 flex: 0 0 auto;
 width: 100%;
 padding: 0 30px;
 position: relative;
 font-size: 2.4em;
 font-style: normal;
 font-weight: 500;
 line-height: 140%;

 }
 ::after, ::before{
  box-sizing: border-box;
 }


 .images { 
  display: flex; 
  flex-wrap: wrap; 
  margin: 10px; 
  padding: 30px; 
} 

.photo { 
  padding: 0 10px; 
  height: 240px; 
} 

.photo img { 
  width: 100%; 
  height: 100%; 
} 

