body {
    background-color: rgb(156, 9, 224);
    height: 100vh;
    color: #ffffff; 
    padding: 0%;
}

  h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin:30px;
  }
  .simple-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #f8f3f3;
    background-color: transparent;
    color: #fff;
    margin-left:1000px;
    
    
    
    
  }

  h3{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 5px;
    
  }
  h4{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 5;
    margin-top:-30px;
    
  }
  h2{
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top:10px;
  }
  p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: end;
    margin-right:30px;
    margin-top:-100px;
  }

  .title-two {
   
    color:white;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: end;
    margin-right:30px;
    margin-top:10px;
    text-align: center;
}

.button {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    width:200px;
    height: 20px;
    padding:10px;
    margin-left:550px;
    margin-top: 100px;
    font-size: 15px;
    

  } 
  
  .button:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #427388; 
  }