.container{
   display:flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: linear-gradient( rgb(67, 140, 250),rgb(193, 131, 235),rgb(243, 97, 219), rgb(247, 128, 247));
}

.main-box{
    display:flex;
    flex-direction: column;
    height: 70vh;
    width:300px;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  
  }


  
  button {
    background-color: #6a61f1;
    color: rgb(248, 240, 240);
    padding: 14px 20px;
    margin: 8px 0;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    width: 80%;
  }
  
  button:hover {
    opacity: 0.8;
  }
 
  .icon-container {
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-right: 10px; 
  }

 