body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.center-button {
    background-color: rgb(24, 129, 199); 
    color: white; 
    border: 2px solid #04AA6D;
    padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #04AA6D;
  }

    
  .center-button:hover {
    background-color: #04AA6D;
    color: white;
  }

.buttons{
    position:absolute;
    bottom:0;
    right:0;
}
.left-button {
    background-color: rgb(199, 24, 176); 
    color: white; 
    border: 2px solid #04AA6D;
    padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #04AA6D;
  }

  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top:-120px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
