body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.header{
    height: 90px;
}

.block1{
    height: 110px;
}

.text1{
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
}

.icon1{
    position: relative;
    bottom: 17px;
}

.icon2{
    position: relative;
    bottom: 33px;
}

.text1{
    font-size: 18px;
}

.value1{
    position: relative;
    bottom: 45px;
}

.value2{
    position: relative;
    bottom: 50px;
}

.number{
    position: relative;
    bottom: 25px;
}


.card-top{
    position: relative;
    bottom: 10px;
    height: 260px;
}

.card{
    position: relative;
    bottom: 55px;
}

.card2{
    position: relative;
    bottom: 100px;
}

.cont{
    position: relative;
    height: 60px;
}

.gray-card{
    position: relative;
    bottom: 10px;
}