body
{
   background-image: url(flaverimage.jpg);
   background-size: cover;
 margin:0;
    padding: 0;
    
 
}
.border
{
    background-color: #fff4;
    margin: 30px;
   
    border-radius: 20px 20px 0px 0px;
}
.header
{
    
    color:black;
    padding: 15px;
    font-size: 4ch;
    margin:0px;
    border-radius: 20px 20px 0px 0px;
    font-family:Arial, Helvetica, sans-serif;
    backdrop-filter: blur(10px);
    background-color:#fff7;
    
    
}
.content
{
    padding: 10px;
}
table
{
  width: 100%;
   background-color:rgb(226, 221, 216);
   border-collapse: collapse;
   
   position: relative;
   backdrop-filter: blur(5px);
    text-align:center;
    padding: 20px;
    overflow-y: scroll;
    border-radius: 20px 20px 0px 0px;
    
}
.table
{
    
    margin-left: 40px;
    margin-top: 10px;
    margin-right: 40px;
   
}
td{
    text-align:center;
    padding: 20px;
}
th{
    padding: 20px;
    font-size: larger;
    text-align:center;
    background-color:rgb(226, 221, 216);
    border-radius: 20px 20px 0px 0px;
  
}
img
{
    border-radius: 50%;
   position: absolute;
   margin-left: -40px;
   margin-top: -10px;
  justify-content: flex-start;
    
}
.textcolor-one
{
    background-color: rgb(144, 76, 207);
    padding: 10px;
    border-radius: 20px;
}
.textcolor-two
{
    background-color: rgb(51, 220, 17);
    padding: 10px;
    border-radius: 20px;
}
.textcolor-three
{
    background-color: rgb(255, 247, 0);
    padding: 10px;
    border-radius: 20px;
}
.textcolor-four
{
    background-color: rgb(238, 12, 159);
    padding: 10px;
    border-radius: 20px;
}
.textcolor-five
{
    background-color: rgb(65, 238, 12);
    padding: 10px;
    border-radius: 20px;
}

tr:nth-child(even){
    background-color:#fff5;
}
@media screen and (max-width:440px)
{
   body{
     
   }
   tr
{
        display: block;
}
 td  {
    display: block;
    text-align: right;
 }
 th {
    display: block;
    text-align: left;
    display: none;
    
 }
 td::before{
    content: attr(data-title)":";
    float: left;
 }
 .textcolor-one

 {
    background-color: transparent;
 }
 .textcolor-two

 {
    background-color: transparent;
 }
 .textcolor-three

 {
    background-color: transparent;
 }
 .textcolor-four

 {
    background-color: transparent;
 }
 .textcolor-five

 {
    background-color: transparent;
 }
}
