.header{
    height: 70px;  
    display: grid; 
}

.image{
    height: 60px;
    width: 60px;
}

.text{
    color: rgb(156, 8, 156);
    font-weight: bold;
    display: grid;
    align-content: space-around;
}

.bar{
    display: grid;
    align-content: space-around;
}

.field{
    width: 700px;
}