body
{
    
    margin: 0;
    padding: 0;
}
img
{
    border-radius: 50%;
}
.iconcommon
{
    padding-left: 140px;
}
.box-one
{
    border: 1px solid;
    
    
}
.text
{
    position: absolute;
    margin-top: -22px;
    
}
.filter-in-line
{
    position: absolute;
    z-index: 1111;
    margin-top: -45px;
    background-color: white;
}
.image
{
    width: 470px;
    height: 200px;
}
.content
{
    display: flex;
    justify-content: center;
}
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
  }
  
  .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
  }
  
  .input::placeholder {
    color: #9e9ea7;
  }
  
  .input:focus,
  input:hover {
    outline: none;
    border-color: rgba(247, 127, 0, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(247 127 0 / 10%);
  }
  
  .icon1 {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
  }
  .observation-search
  {
    display: flex;
    justify-content: space-between;
  }
  .betveen
  {
    display: flex;
    justify-content: space-between;
  }
  .main-line {
    width: auto;
    height: 100px;
  }
  .main-line p{
    color: #9e9ea7;
  }
