body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(218, 212, 212);
}

.container {
  width: 100%;
  height: 100vh;
}

.header {
  margin: 20px;
  display: flex;
  padding: 20px;
  transform: translate(14%, 30%);
}

.header2 {
  margin: 30px;
  margin-left: 16.5%;
  margin-right: 15.5%;
  height: 40%;
  border-radius: 8px;
  display: flex;
}

.header3 {
  margin-left: 16.5%;
  margin-right: 16.5%;
  height: 40%;
  border-radius: 8px;
  display: flex;
}

.column {
  height: 80px;
  width: 220px;
  border-radius: 15px;
  margin: 15px;
}

h6 {
  padding: 10px;
  color: grey;
  padding: inherit;
  text-align: center;
}

h4 {
  margin-left: 70px;
  position: absolute;
  top: 65px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
  margin-right: 2%;
  height: 100%;
  width: 33%;
}

.card1 {
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
  margin-right: 2%;
  height: 100%;
  width: 70%;
}

.card2 {
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
  margin-right: 1%;
  height: 100%;
  width: 34%;
  position: relative;
}

.messages{
  
  border-radius:20px;
  /* display:flex; */
 justify-content: space-between;
 align-items: center;
 flex-direction: column;


 
 margin:auto;
 position: absolute;
 
}

.messages .messageHead{
  position: relative;
  width:100%;
  height:30px;
  /* margin:10px; */
  padding:0.1%;
}


.messages .messageUser{
  position: relative;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:10px;
  margin:10px;
}

 .messagesUserImg{
  position: relative;
  width: 40px;
  height:40px;
  border-radius: 50%;
  overflow:hidden;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
 .messagesUserImg img{
  position: absolute;
  width: 100%;
  height:100%;
  object-fit: cover;
  cursor: pointer;
  left: 0;
  right: 0%;
  
}



.messages .messageUser .h5{
  position: relative; 
  cursor: pointer;
  font-size: 1.2em;
  line-height: 2px;
  margin-left:10px;
}

.messages .messageUser .h5 .span{
  color:grey;
}


p {
  padding: 20px;
  color: grey;
  padding: inherit;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  margin:50px;
}

h2 {
  padding-top: 30px;
  color: rgb(5, 5, 5);
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top:-80px;
}

p1 {
  padding: 10px;
  color: grey;
  font-size: 10px;
  font-weight: bold;
  margin-bottom:9px;
 
}

p2 {
  padding: 10px;
  color: grey;
  font-size: 10px;
  font-weight: bold;
  margin-bottom:9px;
 
}

h1 {
  padding-top: 30px;
  color: rgb(5, 5, 5);
  text-align:left;
  font-size: 25px;
  font-weight: bold;
  margin-top:-30px;
  margin-left: 30px;
  margin-top: -10px;
}

/* body{
  background-color: blue;
} */
.contain{
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin-top:50px auto;
  
}

.barcontainer{
  background-color: #d3d0d0;
  position:relative;
  transform: translateY(-50%);
  top: 30%;
  margin-left: 25px;
  width: 15px;
  height: 120px;
  float: left;
  border-radius:20%;
 
}
  
.bar{
  background-color: blue;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
  border-top-left-radius:30%;
  border-top-right-radius:30%;
  /* //border-top: 6px solid #FFF; */
  box-sizing: border-box;
  animation: grow 1.5s ease-out forwards;
  transform-origin: bottom;
}
@keyframes grow{
  from{
    transform: scaleY(0);
  }
}

.messageHead span{
  font-size: 18px;
  font-weight: bold;
  /* margin:35px; */
  position: relative;
  width:100%;
  height: 100%;
  top:20px;
  left:20px;
}

.car{
  background-color: rgb(226, 224, 224);
  height: 50px;
  width:50px;
  border-radius: 50%;
  position: relative;

}
.car i{
  position: relative;
  top:15px;
  color:purple
}

.boat{
  background-color: rgb(226, 224, 224);
  height: 50px;
  width:50px;
  border-radius: 50%;
  position: relative;

}
.boat i{
  position: relative;
  top:15px;
  color:green;
}

.one{
  background-color: rgb(226, 224, 224);
  height: 50px;
  width:50px;
  border-radius: 50%;
  position: relative;

}
.one i{
  position: relative;
  top:15px;
  color:rgb(194, 194, 10);
}
.icon
{
  display:flex;
}