body {
  background-color: rgba(211, 211, 211, 0.664);
}

.container {
  border-radius: 8px;
  height: 97vh;
  width: 100%;
  background-color: lightslategray;
}

.navbar {
  background-color: white;
  height: 100%;
  width: 200px;
  border-top-left-radius: 8px;
}

.navbar img {
  height: 60px;
  margin-top: 35px;
  margin-left: 35px;
}

.navbar ul li a {
  text-decoration: none;
  padding: 5px;
}

.navbar ul li{
  padding: 10px;
}

